.marge{
    height: 50px;
}

.card-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.selected{
    border: 5px solid #1072a0;
}

.margin-btn{
    margin-top: 30px;
    margin-bottom: 50px;
}