<div class="back">
  <div class="row">
    <div class="col-12" *ngIf="win">
      <div class="row">
        <div class="col-8">
          <h1>Félicitations tu as gagné !!</h1>
        </div>
        <div class="col-4">
         <a type="button" class="btn btn-success margin-top" href="http://localhost:4200/">Rejouer</a>
        </div>
      </div>
    </div>
    <div class="col-12" *ngIf="lose">
    <div class="row" >
      <div class="col-8">
        <h1>Vous avez perdu !!</h1>
      </div>
      <div class="col-4">
        <a type="button" class="btn btn-danger margin-top" href="http://localhost:4200/">Rejouer</a>
      </div>
    </div>
    </div>
      <div class="col-8 border-black" >
        <app-grid *ngIf="hero && obstacles && monstres" [data]="data.getData()" [hero]="hero" [obstacles]="obstacles" [monstres]="monstres"></app-grid>
      </div>
      <div class="col-4 ">
        
          <div class="col-12 h-25">
            <div class="height"></div>
            <div class="row">
             <div class="col-4"><h6>{{hero.PointsDeVie}} &hearts;</h6></div>
             <div class="col-4"><h6>{{hero.degat}} ⚔️</h6></div>
             <div class="col-4"><h6>{{hero.portee}} 🏹</h6></div>
             <div class="col-12"><h6>Mouvement: {{hero.movement}}</h6></div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
              <div class="col-4 offset-4">
                <button type="button" class="btn btn-secondary col-12" (click)="changePosition(0)">Up</button>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <button type="button" class="btn btn-secondary col-12" (click)="changePosition(3)">Left</button>
              </div>
              <div class="col-4">
                <button type="button" class="btn btn-secondary col-12" (click)="changePosition(2)">Down</button>
              </div>
              <div class="col-4">
                <button type="button" class="btn btn-secondary col-12" (click)="changePosition(1)">Right</button>
              </div>
            </div>
            <div class="height"></div>
            <div class="row">
              <div class="col-12">
                <h6>Actions</h6>
              </div>
              <div  class="col-6">
                <a *ngIf="!attaqueTour" type="button" class="btn btn-primary whiteFont" (click)="attaquer()" > Attaquer </a>
              </div>
            
              <div class="col-6">
                <a class="btn btn-primary whiteFont" (click)="finTour()">Fin tour</a>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-12 margin-top">
                {{eventLog}}
              </div>
            </div>
            <div class="row">
              <app-mhealth [monstres]="monstres" [gourdins]="gourdins"></app-mhealth>
            </div>
        </div>
      </div>
  </div>
</div>
